.container {
  width: 100%;
  height: var(--computation-row-height);
  padding: 0.25rem 0;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  flex-grow: 1;
}

.right {
  width: 114px;
  text-align: end;
}
