.container {
  width: 100%;
  max-width: 1024px;
}

.footer {
  background-color: var(--offwhite);
  width: 100%;
  padding: 1rem var(--side-padding);

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: var(--z-footer);
}
